body{
	margin:0;
	padding: 0;
	background: url(up.jpg);
	background-size: cover;
	background-position: center;
    font-family: georgia;
}
.up_box{
	border-radius: 30px;
	width: 380px;
	height: 570px;
	background: rgba(40,0,20,0.5);
	color: #fff;
	top: 50%;
	left:82%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 30px;
}
h1{ margin: 0;
	margin-bottom: 20px;
	padding: 0 0 20px;
	text-align:center;
	font-size: 25px;
	color: white;
}
.up_box p{
	margin: 0;
	padding: 0;
	font-weight: bolder;
}
::-webkit-input-placeholder{
	color:#000f;
}
:focus::-webkit-input-placeholder{
	opacity: 0.5;
}
.up_box input{
	width: 100%;
	margin-bottom: 10px;
}
.up_box input[type="date"]{
	width: 50%;
	margin-bottom: 10px;
}
.up_box input[type="text"],input[type="password"],input[type="date"],input[type="email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.up_box input[type="submit"]
{margin-top: 20px;
	border: none;
	outline: none;
	width: 250px;
	height: 40px;
	margin-left: 35px;
	background: white;
	color:#000;
	font-size:18px;
	border-radius: 20px;
}
.up_box input[type="submit"]:hover
{cursor: pointer;
background: #db7093;
color:#000;
font-size: 25px; 
}
.up_box a{
	text-decoration: none;
	font-size: 20px;
	color:#fff;
}
.up_box a:hover
{
 color: #ee82ee;
 font-size: 25px; 
}






